/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 250px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(19, 7, 51); /* Black*/
  /* overflow-x: hidden;
  disablehorizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav .item {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav .signout {
  margin: 8px 8px 50px 32px;
  position: absolute;
  bottom: 0;
  display: block;
}

.element {
  margin-top: 50px;
  margin-left: 50px;
}
